<h2>Analyzing Trends and Patterns in Electric Power Consumption Data</h2>
<hr style="border: none; height: 4px; background: linear-gradient(to right, cyan, lightblue); margin: 20px 0;">

Name: **Jade Rohjan V. Tavera** <br>
Course: **CPE2A**

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv(r"C:\\Users\\Admin\\Documents\\GitHub\\MATHEDA\\Endterm\\Raw\\Electric Power Consumption.csv",
                 delimiter=",")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Datetime                1508 non-null   object
 1   Temperature             1532 non-null   float64
 2   Humidity                1507 non-null   float64
 3   WindSpeed               1508 non-null   float64
 4   GeneralDiffuseFlows     1521 non-null   float64
 5   DiffuseFlows            1518 non-null   float64
 6   PowerConsumption_Zone1  1527 non-null   float64
 7   PowerConsumption_Zone2  1519 non-null   float64
 8   PowerConsumption_Zone3  1510 non-null   float64
dtypes: float64(8), object(1)
memory usage: 112.6+ KB

In [9]:
dropped_rows = df[df.isnull().any(axis=1)]
df = df.dropna()
dropped_rows

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3
0,NaN,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,NaN,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
4,NaN,5.921,75.7,0.081,NaN,0.085,27335.69620,17872.34043,18442.40964
5,1/1/2017 0:50,5.853,76.9,0.081,0.059,0.108,26624.81013,17416.41337,NaN
8,1/1/2017 1:20,5.678,78.1,0.081,0.066,NaN,24777.72152,16227.35562,17025.54217
...,...,...,...,...,...,...,...,...,...
1591,1/12/2017 1:10,NaN,71.2,0.086,NaN,NaN,25336.70886,15796.96049,15770.60241
1593,1/12/2017 1:30,10.610,72.5,0.085,0.084,0.130,24346.32911,NaN,15203.85542
1595,1/12/2017 1:50,9.620,76.8,0.083,0.081,NaN,23793.41772,14786.62614,14932.04819
1597,1/12/2017 2:10,10.190,75.8,NaN,0.084,0.137,23471.39241,14392.70517,14781.68675
1598,1/12/2017 2:20,NaN,74.4,0.085,0.070,0.134,23234.43038,NaN,14671.80723

## Convert Data Types

In [15]:
df['Datetime'] = pd.to_datetime(df['Datetime'])