<h2>Analyzing Trends and Patterns in Electric Power Consumption Data</h2>
<hr style="border: none; height: 4px; background: linear-gradient(to right, cyan, lightblue); margin: 20px 0;">

Name: **Jade Rohjan V. Tavera** <br>
Course: **CPE2A**

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
df = pd.read_csv(r"C:\\Users\\Admin\\Documents\\GitHub\\MATHEDA\\Endterm\\Raw\\Electric Power Consumption.csv",
                 delimiter=",")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Datetime                1508 non-null   object
 1   Temperature             1532 non-null   float64
 2   Humidity                1507 non-null   float64
 3   WindSpeed               1508 non-null   float64
 4   GeneralDiffuseFlows     1521 non-null   float64
 5   DiffuseFlows            1518 non-null   float64
 6   PowerConsumption_Zone1  1527 non-null   float64
 7   PowerConsumption_Zone2  1519 non-null   float64
 8   PowerConsumption_Zone3  1510 non-null   float64
dtypes: float64(8), object(1)
memory usage: 112.6+ KB

## Dropping Rows With Null Values

In [28]:
dropped_rows = df[df.isnull().any(axis=1)]
df = df.dropna()
dropped_rows

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3
0,NaN,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,NaN,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
4,NaN,5.921,75.7,0.081,NaN,0.085,27335.69620,17872.34043,18442.40964
5,1/1/2017 0:50,5.853,76.9,0.081,0.059,0.108,26624.81013,17416.41337,NaN
8,1/1/2017 1:20,5.678,78.1,0.081,0.066,NaN,24777.72152,16227.35562,17025.54217
...,...,...,...,...,...,...,...,...,...
1591,1/12/2017 1:10,NaN,71.2,0.086,NaN,NaN,25336.70886,15796.96049,15770.60241
1593,1/12/2017 1:30,10.610,72.5,0.085,0.084,0.130,24346.32911,NaN,15203.85542
1595,1/12/2017 1:50,9.620,76.8,0.083,0.081,NaN,23793.41772,14786.62614,14932.04819
1597,1/12/2017 2:10,10.190,75.8,NaN,0.084,0.137,23471.39241,14392.70517,14781.68675
1598,1/12/2017 2:20,NaN,74.4,0.085,0.070,0.134,23234.43038,NaN,14671.80723

## Convert Data Types

In [29]:
df['Datetime'] = pd.to_datetime(df['Datetime'])

## Data Overview

In [30]:
from IPython.display import display

display(df.describe())
display(df.dtypes.to_frame(name="Data Type"))

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3
count,973,973.000000,973.000000,973.000000,973.000000,973.000000,973.000000,973.000000,973.000000
mean,2017-01-06 12:45:41.007194112,12.521632,71.912210,0.097862,105.467163,42.371004,30336.821783,19203.407504,17588.966679
min,2017-01-01 00:20:00,4.212000,44.170000,0.068000,0.015000,0.056000,18075.949370,10949.544070,10039.518070
25%,2017-01-03 17:30:00,9.840000,65.320000,0.076000,0.062000,0.122000,23617.215190,15089.361700,14330.602410
50%,2017-01-06 12:40:00,13.330000,73.300000,0.080000,0.088000,0.171000,30483.037970,19597.568390,16360.481930
75%,2017-01-09 07:30:00,15.220000,79.000000,0.085000,186.600000,50.570000,34426.329110,21822.492400,19922.891570
max,2017-01-12 02:30:00,19.480000,88.900000,4.924000,574.000000,390.600000,44627.848100,27527.051670,26533.012050
std,NaN,3.442944,9.775732,0.277597,160.667798,71.865339,7141.478556,4497.481361,4417.179474

                             Data Type
Datetime                datetime64[ns]
Temperature                    float64
Humidity                       float64
WindSpeed                      float64
GeneralDiffuseFlows            float64
DiffuseFlows                   float64
PowerConsumption_Zone1         float64
PowerConsumption_Zone2         float64
PowerConsumption_Zone3         float64

## Time Range Covered in the Dataset:

In [33]:
start_date = df['Datetime'].min()
end_date = df['Datetime'].max()

print(f"Time Range Covered in the Dataset:")
print(f"Start Date: {start_date}")
print(f"End Date: {end_date}")

Time Range Covered in the Dataset:
Start Date: 2017-01-01 00:20:00
End Date: 2017-01-12 02:30:00